$default-color: aqua;
$bg-main: #FCFCFC;


$color_white: #fff;
$color_lightGrey: #A9A5A5;
$color_darkGrey: #24282A;

$error-width: 320px;
$error-height: 90px;
$fade-animation: opacity .5s;

$border-default: 1px solid #f5f5f5;
$border-active: 1px solid #dcdcdc;

$tone-green: #2BBB3A;
$tone-red: #FF3C30;
$tone-social: #0E72CF;
$tone-grey: #A9A5A5;

$nav: #DADADA;
$nav-active: #0E72CF;

// font-sizes
$fs_xss: 10px;
$fs_xs: 12px;
$fs_sm: 14px;
$fs_mm: 16px;
$fs_md: 20px;

$errorColor: #FF3C30;
$successColor: #2BBB3A;